name: Pipeline

on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev]

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && format('pr-{0}', github.event.pull_request.number) || github.ref }}
  cancel-in-progress: true

jobs:
  call-workflow:
    uses: rimori-org/pipeline-templates/.github/workflows/plugin-dev-pipeline.yml@main
    with:
      plugin_name: wiki
    secrets:
      RIMORI_TOKEN: ${{ secrets.RIMORI_TOKEN }}
      SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
